
<div>
  <div class="w-full">
    <div class="relative h-full rounded-lg  group  p-6">

      <div *ngIf="id" class="font-semibold ">ADD PAYMENT FORM</div>
      <form [formGroup]="clientForm">

        <mat-form-field class="w-full mt-4">
          <mat-label>Amount:</mat-label>
          <input matInput placeholder="Ex. 2,000,000.00 " formControlName="amount_paid" type="text">
          <mat-error class="error-message" *ngIf="clientForm.controls['amount_paid'].touched && clientForm.controls['amount_paid'].invalid">
            <span *ngIf="clientForm.controls['amount_paid'].errors?.['required']">This field is mandatory</span>
            <span *ngIf="clientForm.controls['amount_paid'].errors?.['pattern']">This field is invalid (must be contain alpharbetical only)</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="w-full mt-4">
          <mat-label>Payment Method</mat-label>
          <mat-select formControlName="payment_method">
            <mat-option value="PBZ">PBZ</mat-option>
            <mat-option value="CRDB">CRDB</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="w-full mt-4">
          <mat-label>Payment Status</mat-label>
          <mat-select formControlName="bill_status">
            <mat-option value="Partially Paid">Partially Paid</mat-option>
            <mat-option value="Paid">Paid</mat-option>
          </mat-select>
        </mat-form-field>


      </form>
    </div>
  </div>

  <mat-dialog-actions align ="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button *ngIf="id" mat-flat-button [mat-dialog-close]="true" cdkFocusInitial [disabled]="clientForm.invalid" (click)="savePaymment()">Add Payment</button>
  </mat-dialog-actions>
</div>




