::ng-deep .mat-form-field.dense-field .mat-form-field-infix {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

::ng-deep .mat-form-field.dense-field .mat-form-field-wrapper {
  margin-bottom: 0 !important;
}

::ng-deep .mat-form-field.dense-field {
  font-size: 0.9rem;
}
