
  <div
    class="p-10 space-y-8"
    *ngIf="permission.parmissionMatched(['View Patient History'])"
  >
    <div class="flex items-center justify-between">
      <h1 class="text-lg font-bold">Patient List</h1>
    </div>

    <div class="w-full">
      <div
        class="relative h-full rounded-lg border group dark:border-inverse p-4"
      >
        <div class="font-semibold pb-2.5 border-b-2 border-b-secondary-400">
          View Patient List
        </div>

        <div class="mt-4 flex items-center justify-between">
          <div class="flex items-center gap-1.5">
            <div
              class="size-9 rounded-full border bg-surface flex items-center justify-center cursor-pointer"
              (click)="renew()"
              matTooltip="Refresh"
            >
              <mat-icon class="font-icon">refresh</mat-icon>
            </div>
            <input
              type="text"
              placeholder="Search..."
              class="border-b h-10 w-96 text-sm bg-transparent outline-0 focus-within:border-neutral-950"
              (keyup)="applyFilter($event)"
            />
          </div>

          <div>
            <!-- <button
              mat-flat-button
              (click)="addPatient()"
              *ngIf="permission.parmissionMatched(['Create Patient'])"
            >
              <mat-icon>add</mat-icon> Add Patient
            </button> -->
          </div>
        </div>

        <div class="border rounded-lg overflow-hidden mt-4">
          <table mat-table [dataSource]="dataSource" matSort class="min-w-full">
            <!-- No. Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>#</th>
              <td mat-cell *matCellDef="let element; let i = index">
                {{ i + 1 }}
              </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let element">{{ element.name }}</td>
            </ng-container>

            <!-- Matibabu Card Column -->
            <ng-container matColumnDef="matibabu_card">
              <th mat-header-cell *matHeaderCellDef>Matibabu Card</th>
              <td mat-cell *matCellDef="let element">
                {{ element.matibabu_card || "N/A" }}
              </td>
            </ng-container>

            <!-- Phone Column -->
            <ng-container matColumnDef="phone">
              <th mat-header-cell *matHeaderCellDef>Phone</th>
              <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
            </ng-container>

            <!-- ZanID  Column -->
            <ng-container matColumnDef="referring_doctor">
              <th mat-header-cell *matHeaderCellDef>Referring Doctor</th>
              <td mat-cell *matCellDef="let element">
                {{ element.latest_history?.referring_doctor || "N/A" }}
              </td>
            </ng-container>

            <ng-container matColumnDef="hospital">
              <th mat-header-cell *matHeaderCellDef>Hospital</th>
              <td mat-cell *matCellDef="let element">
                {{ element.hospital || "N/A" }}
              </td>
            </ng-container>

            <!-- Date of Birth Column -->
            <ng-container matColumnDef="case_type">
              <th mat-header-cell *matHeaderCellDef>Case Type</th>
           <td mat-cell *matCellDef="let element">
             {{ element.latest_history?.case_type || "N/A" }}
          </td>

            </ng-container>

            <!-- Gender Column -->
             <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let element">
              <span class="status-chip" [ngClass]="element.latest_history?.status">
                {{ element.latest_history?.status | titlecase }}
              </span>
            </td>
          </ng-container>

            <!-- <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef>Status</th>
              <td mat-cell *matCellDef="let element">{{ element.latest_history?.status }}</td>
            </ng-container> -->



            <!-- <ng-container matColumnDef="patient_file">
              <th mat-header-cell *matHeaderCellDef>View PDF</th>
              <td mat-cell *matCellDef="let element">
                <a
                  *ngIf="element?.files?.length > 0"
                  (click)="viewPDF(element.files[0])"
                  class="inline-flex items-center gap-1 text-indigo-600 hover:text-indigo-800 cursor-pointer"
                >
                  <mat-icon>picture_as_pdf</mat-icon> View PDF
                </a>
              </td>
            </ng-container> -->

            <!-- Action Column -->
            <ng-container matColumnDef="action">
              <th
                mat-header-cell
                *matHeaderCellDef
                class="text-neutral-500 dark:text-neutral-400"
              >
                Action
              </th>
              <td mat-cell *matCellDef="let element">
                <emr-segmented
                  theme="simple"
                  class="-mx-2 flex items-center gap-2"
                >
                  <!-- Edit button -->
                  <emr-segmented-button value="edit_squareData">


                      <span
                      class="size-9 rounded-full border bg-surface flex items-center justify-center cursor-pointer"
                      (click)="displayMoreData(element)"
                      matTooltip="View"
                    >
                      <mat-icon  class="font-icon">visibility</mat-icon>
                    </span>
                  </emr-segmented-button>

                  <!-- Toggle button -->

                </emr-segmented>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="7">No data matching the filter</td>
            </tr>
          </table>

          <mat-paginator
            [pageSizeOptions]="[10, 20]"
            showFirstLastButtons
          ></mat-paginator>
        </div>
      </div>
    </div>

    <div
      *ngIf="loading"
      class="fixed inset-0 flex items-center justify-center bg-white bg-opacity-70 z-50"
    >
      <div
        class="w-16 h-16 border-4 border-blue-500 border-dashed rounded-full animate-spin"
      ></div>
    </div>
  </div>
