<div class="form-container">
  <div class="w-full">
    <div class="relative h-full rounded-lg group p-6">
      <!-- Title -->
      <div class="font-semibold" *ngIf="!patientData">CREATE NEW BODY LIST DOCUMENT</div>
      <div class="font-semibold" *ngIf="patientData">UPDATE BODY LIST DOCUMENT</div>

      <!-- Form -->
      <form [formGroup]="patientForm" class="horizontal-form" enctype="multipart/form-data">

        <!-- Row 1: Full Name, Gender -->
        <div class="form-row">
          <mat-form-field class="form-field">
            <mat-label>Body No:</mat-label>
            <input matInput placeholder="Ex. BODY NO" formControlName="patient_list_title" type="text">
            <mat-error *ngIf="patientForm.get('patient_list_title')?.invalid && patientForm.get('patient_list_title')?.touched">
              <span *ngIf="patientForm.get('patient_list_title')?.errors?.['required']">This field is mandatory</span>
              <span *ngIf="patientForm.get('patient_list_title')?.errors?.['pattern']">Must contain alphabetical characters only</span>
            </mat-error>
          </mat-form-field>
           </div>
          <div class="form-row">
            <mat-form-field class="form-field w-full">
            <mat-label>Upload File</mat-label>
            <input
              matInput
              type="text"
              formControlName="patient_list_file"
              readonly
              placeholder="No file chosen"
              (click)="fileInput.click()"
            />
            <input
              type="file"
              accept=".pdf,.doc,.docx,.jpg,.png"
              hidden
              #fileInput
              (change)="onAttachmentSelected($event)"
            />
            <mat-icon matSuffix style="cursor: pointer;" (click)="fileInput.click()">attach_file</mat-icon>
            <mat-error *ngIf="patientForm.get('patient_list_file')?.invalid && patientForm.get('patient_list_file')?.touched">
              File is required
            </mat-error>
          </mat-form-field>

          </div>

      </form>

      <!-- Actions -->
      <mat-dialog-actions align="end">
        <button mat-button (click)="onClose()">Cancel</button>
        <button
          mat-flat-button
          color="primary"
          [disabled]="patientForm.invalid"
          (click)="patientData ? updatePatient() : savePatient()"
        >
          {{ patientData ? 'Update' : 'Save' }}
        </button>
      </mat-dialog-actions>
    </div>
  </div>
</div>

