<div
  class="p-10 space-y-8"
  *ngIf="permission.parmissionMatched(['View BillFile'])"
>
  <div class="flex items-center justify-between">
    <h1 class="text-lg font-bold">Bill Payments</h1>
  </div>

  <mat-card class="mb-4 shadow-lg">
    <mat-card-content>
      <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
        <div class="p-4 rounded-lg bg-blue-50 text-center">
          <h3 class="text-sm font-medium text-gray-600">
            Total Bill File Amount
          </h3>
          <p class="text-lg font-bold text-blue-700">
            {{ totals.bill_file_amount | number : "1.2-2" }}
          </p>
        </div>

        <div class="p-4 rounded-lg bg-green-50 text-center">
          <h3 class="text-sm font-medium text-gray-600">Paid amount</h3>
          <p class="text-lg font-bold text-green-700">
            {{ totals.paid_amount | number : "1.2-2" }}
          </p>
        </div>

        <div class="p-4 rounded-lg bg-red-50 text-center">
          <h3 class="text-sm font-medium text-gray-600">Total Balance</h3>
          <p class="text-lg font-bold text-red-700">
            {{ totals.balance | number : "1.2-2" }}
          </p>
        </div>

        <div class="p-4 rounded-lg bg-gray-50 text-center">
          <h3 class="text-sm font-medium text-gray-600">Status</h3>
          <p
            class="text-lg font-bold"
            [ngClass]="{
              'text-green-600': totals.status === 'Paid',
              'text-yellow-600': totals.status === 'Partially Paid',
              'text-red-600': totals.status === 'Pending',
              'text-gray-600': totals.status === 'Summary'
            }"
          >
            {{ totals.status }}
          </p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <div class="relative h-full rounded-lg border p-4">
    <div class="font-semibold pb-2.5 border-b-2 border-b-secondary-400">
      View Bill Payments
    </div>

    <div class="mt-4 flex items-center justify-between">
      <div class="flex items-center gap-1.5">
        <div
          class="size-9 rounded-full border bg-surface flex items-center justify-center"
          matTooltip="Refresh"
        >
          <mat-icon>refresh</mat-icon>
        </div>
        <input
          type="text"
          placeholder="Search..."
          class="border-b h-10 w-96 text-sm bg-transparent outline-0 focus-within:border-neutral-950"
          matInput
          (keyup)="applyFilter($event)"
        />
      </div>
    </div>

    <div class="border rounded-lg overflow-hidden mt-4">
      <table mat-table [dataSource]="dataSource" class="not-prose">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
        </ng-container>

      

        <ng-container matColumnDef="pdf">
          <th mat-header-cell *matHeaderCellDef>View PDF</th>
          <td mat-cell *matCellDef="let element">
            <a
              *ngIf="element.bill_file?.endsWith('.pdf')"
              (click)="viewPDF(element)"
              class="inline-flex items-center gap-1 text-indigo-600 hover:text-indigo-800 cursor-pointer"
            >
              <mat-icon>picture_as_pdf</mat-icon> View PDF
            </a>
          </td>
        </ng-container>

        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef>Amount (TZS)</th>
          <td mat-cell *matCellDef="let element">
            {{ element.bill_file_amount }}
          </td>
        </ng-container>

        <ng-container matColumnDef="paid_amount">
          <th mat-header-cell *matHeaderCellDef>Paid amount (TZS)</th>
          <td mat-cell *matCellDef="let element">{{ element.paid_amount }}</td>
        </ng-container>

        <ng-container matColumnDef="balance">
          <th mat-header-cell *matHeaderCellDef>Balance</th>
          <td mat-cell *matCellDef="let element">{{ element.balance }}</td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let element">
            <span
              [ngClass]="{
                'bg-green-100 text-green-600': element.status === 'Paid',
                'bg-yellow-100 text-yellow-600':
                  element.status === 'Partially Paid',
                'bg-red-100 text-red-800': element.status === 'Pending'
              }"
              class="px-2 py-1 rounded-full text-xs font-medium"
              >{{ element.status }}</span
            >
          </td>
        </ng-container>

        <!-- <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let element">
            <span
              [ngClass]="{
                'bg-yellow-100 text-yellow-800': element.status === 'Paid',
                'bg-green-100 text-green-800':
                  element.status === 'Partially Paid',
                'bg-red-100 text-red-800': element.status === 'Pending'
              }"
              class="px-2 py-1 rounded-full text-xs font-medium"
              >{{ element.status }}</span
            >
          </td>
        </ng-container> -->

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element">
            <emr-segmented theme="simple">
              <emr-segmented-button value="view">
                <span
                  class="size-9 rounded-full border bg-surface flex items-center justify-center cursor-pointer"
                  (click)="displayMoreData(element)"
                  matTooltip="View"
                >
                  <mat-icon>visibility</mat-icon>
                </span>
              </emr-segmented-button>

              <emr-segmented-button
                value="payment"
                *ngIf="element.status !== 'Paid'"
              >
                <!-- <span
                  class="size-9 rounded-full border bg-surface flex items-center justify-center cursor-pointer"
                 (click)="addPayment(element)"
                  matTooltip="Add Payment"
                >
                  <mat-icon>add</mat-icon>
                </span> -->
                <span
                  class="size-9 rounded-full border bg-surface flex items-center justify-center cursor-pointer"
                  (click)="addPayment(element)"
                  matTooltip="Add Payment"
                >
                  <mat-icon>add</mat-icon>
                </span>
              </emr-segmented-button>
            </emr-segmented>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <tr *ngIf="dataSource.data.length === 0">
          <td [attr.colspan]="displayedColumns.length" class="text-center p-4">
            No bills available.
          </td>
        </tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[10, 20]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>

  <div
    *ngIf="loading"
    class="fixed inset-0 flex items-center justify-center bg-white bg-opacity-70 z-50"
  >
    <div
      class="w-16 h-16 border-4 border-blue-500 border-dashed rounded-full animate-spin"
    ></div>
  </div>
</div>
