::ng-deep {
  .search-container {
    display: flex;
    align-items: center;
    padding: 10px 16px;
    position: sticky; 
    top: 0;
    background: white; 
    z-index: 999;
    border-bottom: 1px solid #eee;

    mat-icon {
      margin-right: 8px;
      color: rgba(0, 0, 0, 0.54);
      font-size: 20px;
    }

    .search-input {
      width: 100%;
      border: none;
      outline: none;
      font-size: 14px;
      background: transparent;
      padding: 5px 0;
    }
  }


  
  .mat-mdc-select-trigger {
    height: auto !important;
    min-height: 30px;
    display: flex;
    align-items: center;
  }

  .mat-mdc-chip-set {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }

  .mat-mdc-standard-chip {
    --mdc-chip-container-height: 26px;
    font-size: 11px;
    background-color: #f0f0f0 !important;
  }

  .mat-mdc-select-panel {
    padding-top: 0 !important; 
  }
}

::ng-deep .mat-mdc-chip {
  height: 26px;
  font-size: 12px;
}

::ng-deep .mat-mdc-chip-remove {
  font-size: 18px;
}

::ng-deep .mat-mdc-autocomplete-panel {
  max-height: 250px;
}
