//@import "../projects/components/styles/fonts/default";
@import "../projects/components/styles/themes/default";

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/poppins-v24-latin-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/roboto-v49-latin-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* fallback */
@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 100 700;
  src: url('assets/fonts/themes.woff2') format('woff2');
  font-display: block;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.material-icons {
  font-family: 'Material Symbols Outlined';
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

.material-icons,
.font-icon,
.font-icon-filled {
  font-size: 24px;
  line-height: 1;
}



.visibilityData{
  color: rgb(41, 126, 33);
}
.edit_squareData{
  color: rgb(50, 98, 161);
}
.deleteData{
  color: rgb(192, 33, 27);
}

.full-screen-modal .mat-dialog-container {
  padding: 1em;
  width: 100%;
  height: 100%;
}
